*.swp
.CFUserTextEncoding
.MacOSX
.Trash
.Xauthority
.bash_history
.cache
.config
.cups
.dropbox-master
.dropbox
.fctsslvpnhistory
.fontconfig
#.git-completion.sh
#.git-prompt.sh
.android
.gem
.Genymobile
.heroku
.hgignore_global
.local
.mono
.node-gyp
.npm
.rbenv
.rnd
.rvm
.sh_history
.ssh
.subversion
.viminfo
.vnc
.wireshark-etc
.wireshark

node-install

Applications (Parallels)
Applications
Backup
Desktop
Documents
Downloads
Dropbox
HomePage.xml
Library
Movies
Music
My\ Cubby
OneDrive
Pictures
Public
Sync
VirtualBox VMs
WebstormProjects
bin
development
my-machine-setup
node_modules_bak
perl5
server_bak.js
uninstall-node.sh
vividchalk.vim
.zcompdump-Kevin’s MacBook Pro-5.0.2

old.pathogen.bundle
.vim/undo/
.vimrc.bundles
.vimrc.first
.vimrc.last
.vimrc.save
.bundles
.vimrc_new
.vimrc_old
.bundle/config
.python_history
.netrwhist
.VimballRecord
recent-files.lst
